
<picture>
  <source type='image/webp' 
          srcset='./img/{{.src}}-3800x2850.webp 3800w, 
                  ./img/{{.src}}-1920x1440.webp 1920w, 
                  ./img/{{.src}}-1680x1260.webp 1680w, 
                  ./img/{{.src}}-1440x1080.webp 1440w, 
                  ./img/{{.src}}-1280x960.webp 1280w, 
                  ./img/{{.src}}-1024x768.webp 1024w,' 
          sizes= '(min-width: 3800px) 3800px, 
                  (min-width: 1920px) 1920px, 
                  (min-width: 1680px) 1680px, 
                  (min-width: 1440px) 1440px, 
                  (min-width: 1280px) 1280px, 
                  (min-width: 1024px) 1024px'>
  <source type='image/jpeg' 
          srcset='./img/{{.src}}-3800x2850.jpg 3800w, 
                  ./img/{{.src}}-1920x1440.jpg 1920w, 
                  ./img/{{.src}}-1680x1260.jpg 1680w, 
                  ./img/{{.src}}-1440x1080.jpg 1440w, 
                  ./img/{{.src}}-1280x960.jpg 1280w, 
                  ./img/{{.src}}-1024x768.jpg 1024w,' 
          sizes= '(min-width: 3800px) 3800px, 
                  (min-width: 1920px) 1920px, 
                  (min-width: 1680px) 1680px, 
                  (min-width: 1440px) 1440px, 
                  (min-width: 1280px) 1280px, 
                  (min-width: 1024px) 1024px'>
  <img alt='{{.alt}}' src='{{.src}}.jpg'>
</picture>