<!DOCTYPE html>
<html lang="en">
    {{ partial "head/head.html" . }}
    <body>
      <!-- Navigation -->  
      {{ partial "nav.html" .}}

      <!-- Hero Image -->
  <div id="hero" class="container mb-4">
    <img alt="Sandy with students" width="1110" height="555" 
      src="/images/hero-a-1110x555.webp"
      srcset="/images/hero-a-1110x555.webp 1110w, /images/hero-a-930x465.webp 930w, /images/hero-a-690x345.webp 690w, /images/hero-a-510x255.webp 510w" 
      sizes="(min-width: 1200px) 1110px, (min-width: 992px) 930px, (min-width: 768px) 690px, (min-width: 576px) 510px">
  </div>

  <!-- Page Content -->
  <div class="container">

    <!-- Sections -->
    <div class="row">
        I specialize in homeschool math education for pre-algebra and beyond.  I assume full responsibility for
the entire subject matter, delivering comprehensive lessons, assigning homework and tests. By
entrusting me with these responsibilities, you are freed up to focus on other subjects. The instructional
approach is exclusively one-on-one, allowing for personalized pacing aligned with the student's
abilities. Both in-person and online instruction are available.
    </div>
    <hr />
    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6 mb-4">
        <h2>Private Home Education Tutoring</h2>
        <p>Help For Home Educators:</p>
        <ul>
          <li>
            Math Instruction
          </li>
          <li>
            SAT/PSAT/ACT Math Prep
          </li>
          <li>
            High School Transcript Preparation
          </li>
        </ul>
      </div>
      <div class="col-lg-6 mb-4">
        <img alt="" class="img-fluid rounded" width="485" height="320" src="/images/services.webp">
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <!-- Footer -->  
      {{ partial "footer.html" .}}
    </body>
</html>